<h1>Create New User</h1>
<form id="user_creation_form">
    <label>Username</label>
    <input id="username" type="text" name="username"/>
    <label>Password</label>
    <input id="password" type="password" name="password"/>
    <label>Retype Password</label>
    <input id="retyped_password" type="password" name="retyped_password"/>
    <label>Email Address</label>
    <input id="email_address" type="text" name="email_address"/>
    <input id="create_user" type="submit"/>
</form>
